# Python
__pycache__/
*.pyc
*.log

# Virtual Environments
env/
.venv/

# Django
.env
db.sqlite3

# Database backups
backup.json

# Old / broken migrations (local only)
new_form/migrations/0002_*.py
new_form/migrations/0003_*.py

# IDEs
.idea/
.vscode/
